@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bug Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" src="~/Images/icons/favicon.ico" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <style>
        #Password {
            width: 100%
        }
    </style>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/Images/BG.jpg);">
                    <span class="login100-form-title-1">
                        Reset Password
                    </span>
                </div>
                <div class="row" style="padding:3rem !important">
                    <div class="col text-center">
                        <h2>An email has been sent with a link to reset your password</h2>
                        <h4 style="padding-top:3rem">You will be redirected to the login page in <span id="countdown"> 10</span> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink(" ", "Login", "Account", null, new { display = "none", @class = "className" })


    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>
    <script>

        var seconds = 10;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                jQuery(function () {
                    window.location.href = jQuery('.className').attr('href');
                });
            } else {
                document.getElementById("countdown").innerHTML = seconds;
                window.setTimeout("countdown()", 1000);
            }
        }

        countdown();
    </script>
</body>
</html>

