@using Bug_Tracker.Helpers
@using Microsoft.AspNet.Identity;
@using Bug_Tracker.Models;
@model AccountIndex
@{
    ViewBag.Title = "Home Page";
    var userHelper = new UserHelper();
    var projectHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
    var low = 0;
    var medium = 0;
    var high = 0;
    var urgent = 0;
    foreach (var ticket in Model.Tickets)
    {

        if (ticket.TicketPriority.Name == "Low")
        {
            low = low + 1;
        }
        if (ticket.TicketPriority.Name == "Medium")
        {
            medium = medium + 1;
        }
        if (ticket.TicketPriority.Name == "High")
        {
            high = high + 1;
        }
        if (ticket.TicketPriority.Name == "URGENT")
        {
            urgent = urgent + 1;
        }
    }

}
<style>
    .dataTables_length {
        width: 50%;
        margin-bottom: -30px
    }
    #yondertable_paginate {
        margin-top: -25px;
        cursor: pointer
    }
</style>
<div class="row" style="padding-top:5rem">
    <div class="col-8">
        <div class="small-box" style="padding:10px; background-color:#343a40; color:white;">
            <div class="row" style="margin-bottom:20px; padding:20px">
                <div class="col">
                    <h1 style="margin-left:2rem">Tickets By Priority</h1>
                    <div id="myChart">

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:-6em; margin-bottom:2rem">
                <div class="col-2 offset-1" style="left:6.5rem">Low</div>
                <div class="col-2" style="left:7rem">Medium</div>
                <div class="col-2" style="left:8.5rem">High</div>
                <div class="col-2" style="left:9rem">URGENT</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="small-box" style="padding:10px; background-color:#c6371c; color:white;">
            <div class="row" style="margin-bottom:20px; padding:20px">
                @if (User.IsInRole("ProjectManager"))
                {
                    <h2 style="margin-bottom:2rem !important">Unassigned Tickets</h2>
                    <table class="table dataTable" id="yondertable">
                        <thead>
                            <tr>
                                <th>
                                    Ticket
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Priority
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                if (ticket.TicketStatus.Name == "Open")
                                {
                                    <tr style="cursor:pointer" onclick="window.location.href='@Url.Action("Details","Tickets", new { ticket.Id })'">
                                        <td>
                                            @ticket.Title
                                        </td>
                                        <td>
                                            @ticket.Project.Name
                                        </td>
                                        <td>
                                            @ticket.TicketPriority.Name
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                }

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdn.zingchart.com/zingchart.min.js" SameSite="None"></script>
    <script>
        $(document).ready(function () {
            $('#yondertable').DataTable({
                "pageLength": 5
            });
        });
    var array = [@low,@medium,@high,@urgent]
    function bar() {
        zingchart.render({
            id: "myChart",
            output: "svg",
            height: 400,
            width: '100%',
            data: {
                type: "bar",
                "background-color": "transparent",
                'scale-y': {
                    "tick": {
                        "visible": false,
                        "line-color": "none"
                    }
                },
                'scale-x': {
                    "visible": false,
                },

                series: [
                    {
                        values: [@low],
                        "background-color": "forestgreen"
                    },
                    {
                        values: [@medium],
                        "background-color": "cornflowerblue"
                    },
                    {
                        values: [@high],
                        "background-color": "#ffc107"
                    },
                    {
                        values: [@urgent],
                        "background-color": "#c6371c"
                    },
                ]
            }
        });
        }
        bar();
    </script>
}
