
@{
    ViewBag.Title = "Rejection";
}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" style="padding-top:10rem;">
                <h2>@Html.Display("err")</h2>
            </div>
        </div>
    </div>

