@model Bug_Tracker.Models.Project
@{
    ViewBag.Title = "RemoveProjectUsers";
}

<h2>Remove Project Users</h2>
<style>
    #UserIds, #ProjectIds {
        height: 200px
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-8">
            <h2>@Html.ListBox("UserIds")</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" style="width:15em">Remove User(s)</button>
        </div>
    </div>
}
<hr />
